.teacherInfoList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    font-weight: 500;
    color: var(--main-text-color);
  }

  span {
    color: var(--accent-text-color);
  }
}

.lessonIcon,
.starIcon {
  display: block;
}

.lessonIcon {
  fill: none;
  stroke: var(--main-text-color)
}

.starIcon {
  fill: var(--star-color);
}

.teacherCard:first-child .teacherInfoList {
  @media screen and (max-width:1200px) {
    column-gap: 24px;
    row-gap: 12px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width:1200px) {
  .teacherInfoList {
    column-gap: 24px;
    row-gap: 12px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width:375px) {

  .lessonIcon,
  .starIcon {
    display: none;
  }
}