.buttonPrimary {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-text-color);
  padding: 16px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--main-button-bg-color);
  border: none;
  transition: background-color var(--transition);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--secondary-hover-color);
  }
}

.buttonSecondary {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color var(--transition);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--secondary-hover-color);
  }
}