.reviewsList {
  margin-bottom: 32px;
}

.reviewItem {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.reviewsAvatar {
  background-color: var(--feedback-bg);
  border-radius: 100%;
  border: 2px solid var(--star-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.reviewAvatarNameRateContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.reviewName {
  font-weight: 500;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin-bottom: 2px;
}

.reviewRateIconTextContainer {
  display: flex;
  align-items: start;
  gap: 8px;
}

.reviewStar {
  fill: var(--star-color)
}

.reviewRate {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
}

.reviewText {
  font-weight: 500;
  line-height: 1.5;
}