.readMoreButton {
  background-color: transparent;
  padding: 0;
  margin: 0 0 32px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  transition: color var(--transition);
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffc531;
  }
}