.teachersList {
  margin-bottom: 64px;
}

.teacherCard {
  display: flex;
  align-items: start;
  gap: 48px;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}