.teachersList {
  margin-bottom: 64px;
}

.teacherCard {
  display: flex;
  align-items: start;

  gap: 48px;
  padding: 24px;
  background-color: var(--main-block-bg);
  border-radius: 24px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width:768px) {
  .teacherCard {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}