.loginRegisterLinksList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginRegisterLinksList .loginButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 0;
}

.loginIcon {
  fill: none;
  stroke: var(--secondary-border-color)
}

.loginRegisterLinksList .registerButton {
  color: var(--additional-text-color);
  background-color: var(--secondary-button-bg-color);
  min-width: 166px;
  transition: color var(--transition);
  padding: 10px;

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }
}

.active {
  color: var(--hover-color);
}

@media screen and (max-width:320px) {
  .loginRegisterLinksList {
    flex-direction: column;
    gap: 26px;
  }

  .loginRegisterLinksList .loginButton {
    padding: 0;
  }
}