.loginRegisterLinksList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginRegisterLinksList .loginButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 0;
}

.loginIcon {
  fill: none;
  stroke: var(--secondary-border-color)
}

.loginRegisterLinksList .registerButton {
  color: #fff;
  background: #121417;
  min-width: 166px;
  transition: color var(--transition);
  padding: 10px;

  &:hover,
  &:focus {
    color: #121417;
  }
}

.active {
  color: var(--hover-color);
}