.levelsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.levelsItem {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 35px;
  cursor: text;
  transition: all var(--transition);

  &:first-child {
    border-color: var(--star-color);
    background-color: var(--star-color);
  }

  &:hover,
  &:focus {
    border-color: var(--secondary-hover-color);
    background-color: var(--secondary-hover-color);
  }
}

.levelsText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}