.labelInputContainer {
  position: relative;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.showHidePassButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.showHidePassIcon {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 20px;
  color: #121417;
  transition: color var(--transition);

  .showHidePassButton:hover &,
  .showHidePassButton:focus & {
    color: var(--hover-color);
  }
}

.error {
  position: absolute;
  top: 54px;
  left: 10px;
  color: red;
  font-size: 14px;
}