.bookingTitle {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.bookingDescription {
  line-height: 1.37;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 20px;
}

.bookingTeacherContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

.bookingTeacherImage {
  border-radius: 100px;
}

.bookingTeacherLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8a8a89;
  margin-bottom: 4px;
}

.bookingTeacherName {
  font-weight: 500;
  line-height: 1.5;
}