.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 128px;
  width: 100%;
  background-color: #fff;

  & .displayName {
    font-weight: 500;
    line-height: 1.5;
    min-width: 120px;
  }

  & .logOutButton {
    min-width: 150px;
    padding: 10px;
  }
}

.userNameLogOutContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerIcon {
  font-size: 24px;
  transition: color var(--transition);
  cursor: pointer;

  .burgerButton:hover &,
  .burgerButton:focus & {
    color: var(--hover-color)
  }
}

@media screen and (max-width:1200px) {
  .header {
    padding: 0 64px;
  }
}

@media screen and (max-width:768px) {
  .header {
    padding: 0 32px;
  }
}