.confirmLogOuTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}

.confirmLogOutList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.confirmLogOutCancelButton {
  min-width: 200px;
  background-color: var(--secondary-button-bg-color);
  color: var(--additional-text-color);

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }
}

.confirmLogOutButton {
  min-width: 200px;
}

@media screen and (max-width:767px) {
  .confirmLogOutList {
    justify-content: center;
  }
}

@media screen and (max-width:375px) {

  .confirmLogOutCancelButton,
  .confirmLogOutButton {
    min-width: 130px;
    padding: 10px;
  }
}