.bookingFormTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.textErrorContainer,
.radioErrorContainer {
  position: relative;
}

.radioInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.textInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 40px;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--error-color);
  font-size: 14px;
}