.registerTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.registerText {
  line-height: 1.375;
  color: var(--modal-desc-text-color);
  margin-bottom: 40px;
}