.teachersPage {
  padding: 32px 0;
}

.loadMoreButton {
  display: block;
  margin: 0 auto;
  max-width: 184px;

  &[disabled] {
    cursor: not-allowed;
  }
}

.allLoadedInfo {
  text-align: center;
}

.noCards {
  height: 100vh;
}