.selectInputsButtonContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
  max-width: 600px;
}

.selectsContainer {
  display: flex;
  gap: 20px;
}

.selectLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #8a8a89;
}

.selectWrapper {
  margin-top: 8px;
}

.resetButton {
  padding-top: 32px;
  padding-bottom: 12px;
}