.selectInputsButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 32px;
}

.selectsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.selectLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #8a8a89;
}

.selectWrapper {
  margin-top: 8px;
}

.resetButton {
  padding-top: 32px;
  padding-bottom: 12px;
}

@media screen and (max-width:1200px) {
  .selectInputsButtonContainer {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .selectsContainer {
    flex-direction: column;
  }

}