.loginTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.loginText {
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 40px;
}