.radioLabelInputContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover .radioSpan {
    border-color: var(--main-button-bg-color);
  }
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioSpan {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  border-radius: 50%;
  background-color: var(--main-block-bg);
  cursor: pointer;
  transition: all 0.3s ease;
}

.radioInput:checked+.radioSpan {
  border-color: var(--secondary-border-color);
}

.radioInput:checked+.radioSpan::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--secondary-border-color);
}

.radioSpan:hover {
  border-color: var(--secondary-border-color);
}

.radioLabel {
  line-height: 1.375;
  text-align: center;
  cursor: pointer;
}